<!--/////////////// CSS ///////////////-->
<style></style>

<!--/////////////// HTML ///////////////-->
<section class="alertGroup">
    <div class="alertNotice">
        <h2>系統訊息</h2>
        <div class="alertText">
            <p class="alertMsg"></p>
            <select class="alertReportMsg" name="alertReportMsg" style="display: none;">
                <option>請選擇</option>
                <option value="1">外部廣告</option>
                <option value="2">仇恨言論</option>
                <option value="3">色情內容</option>
                <option value="4">與主題無關</option>
            </select>
            <button type="submit" form="" class="alertSubmit" style="display: none;"></button>
            <button class="alertCancel">取消</button>
        </div>
        <span class="alertCancel"></span>
    </div>
    <div class="alertNotice">
        <h2>系統訊息</h2>
        <div class="alertText">
            <p class="alertMsg"></p>
            <button class="alertOkay">確認</button>
        </div>
        <span class="alertCancel"></span>
    </div>
</section>

<!--/////////////// JavaScript ///////////////-->
<script></script>