    <!---- 選單區 ---->
    <!-- 及時支持度顯示 -->
    <header>
        <!-- <div class="navSec">
            <p id="wealth"><span id="coin"></span></p>
            <p id="memberName"></p>
        </div> -->
        <div class="topBg"></div>
        <div class="navTop">
            <p id="planetPoint_3">兔兔星：<span class="jumbo" id="peter"></span></p>
            <p id="planetPoint_2">肥宅星：<span class="jumbo" id="fatty"></span></p>
            <p id="planetPoint_1">派大星：<span class="jumbo" id="pie"></span></p>
        </div>
    <!-- 天長條 -->
        <div class="banner">
            <input type="checkbox" name="" id="nav-control">
            <label for="nav-control" class="hamburger"></label>
            <div class="logo">
                <h1><a href="home.html">征服宇宙</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="news.html">宇宙星聞</a></li>
                    <li><a href="video.html">公民學堂</a></li>
                    <li><a href="vote.html">公民投票</a></li>
                    <li><a href="shop.html">宇宙商城</a></li>
                    <li><a href="homeCitizen.html">公民的家</a></li>
                </ul>
                <p id="wealth"></p><span id="coin"></span>
                <p id="memberName"></p>
                <span id="loginBtn" onclick="loginRegister()">登入 / 註冊</span>
            </nav>
        </div>
    </header>
    <script>
        $(document).ready(function(){
                        
            // 最上面個星球總支持度
            getTopPoint();
            function getTopPoint(){
                var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){ 
                        pointData = JSON.parse(xhr.responseText);
                        // new CountUp("pie",0,pointData[0]).start();
                        // new CountUp("fatty",0,pointData[1]).start();
                        // new CountUp("peter",0,pointData[2]).start();
                        document.getElementById("pie").innerText=pointData[0];
                        document.getElementById("fatty").innerText=pointData[1];
                        document.getElementById("peter").innerText=pointData[2];
                        setTimeout(getTopPoint, 1000);
                    }else{ 
                        alert( xhr.status );
                    }
                }
                var url = "php/topPoint.php";
                xhr.open("Get", url, true);
                xhr.send( null );
            }


        });
</script>