    <!---- 選單區 ---->
    <!-- 及時支持度顯示 -->
        <div class="navTop">
            <span>大眼星: 8888</span>
            <span>智多星: 8888</span>
            <span>胖仔星: 8888</span>
            <span>宇宙幣: 8888</span>
        </div>
    <!-- 天長條 -->
        <div class="banner">
            <input type="checkbox" name="" id="nav-control">
            <label for="nav-control" class="hamburger"></label>
            <div class="logo">
                <h1><a href="index.html">征服宇宙</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">宇宙星聞</a></li>
                    <li><a href="#">公民學堂</a></li>
                    <li><a href="vote.html">公民投票</a></li>
                    <li><a href="#">宇宙商城</a></li>
                    <li><a href="#">公民的家</a></li>
                </ul>
                <span><a href="" id="loginBtn">登入 / 登出</a></span>
            </nav>
        </div>
    </header>