<div id="loginWrap" style="display: none;">
    <div id="loginBox">
        <div id="loginBoxClose" onclick="closeBox()"></div>
        <section class="loginPage" style="display: none;">
            <h2 class="registerTittle">會員登入</h2>
            <form action="php/login.php" method="post">
                <table class="loginInfo">
                    <tr>
                        <td class="memInfoBox">
                            帳號：<input type="text" placeholder="User" maxlength="15" id="memId" name="memId" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="memInfoBox">
                            密碼：<input type="password" placeholder="Password" maxlength="15" id="memPsw" name="memPsw" required>
                        </td>
                    </tr>
                </table>
                <div id="loginMsg"></div>
                <div id="submitBtn" class="yellowButton" onclick="login()">登入</div>
                <div id="registeredBtn" onclick="registerBox()">註冊帳號</div>
            </form>
        </section>
        <!-- @@include('roleCreate.html') -->
        <!-- 把阿白的選擇星球放進來 -->
        <section class="registerPage" style="display: none;">
            <h2 class="registerTittle">會員註冊</h2>
            <form action="php/register.php" method="post"></form>
                <table class="registerInfo">
                    <tr>
                        <th>會員帳號：</th>
                        <td><input type="text" id="memIdRig" name="memIdRig" placeholder="4~12位英數字" maxlength="12"></td>
                    </tr>
                    <tr>
                        <th>
                            <div class="memIdCheckPic">
                                <!-- <img src="img/registeredMagnifier.png"> -->
                            </div>
                        </th>
                        <td><input type="button" id="memIdCheck" value="檢查帳號" onclick="checkId()"></td>
                    </tr>
                    <tr>
                        <th>會員密碼：</th>
                        <td><input type="password" id="memPswRig" name="memPswRig" placeholder="4~12位英數字" maxlength="12"></td>
                    </tr>
                    <tr>
                        <th>確認密碼：</th>
                        <td><input type="password" id="pswChecked" placeholder="再次確認密碼" maxlength="12"></td>
                    </tr>
                    <tr>
                        <th>會員暱稱：</th>
                        <td><input type="text" id="memNameRig" name="memNameRig" placeholder="會員暱稱"></td>
                    </tr>
                    <tr>
                        <th>選擇星球：</th>
                        <td>
                            <select id="starSelect" name="starSelect">
                                <option value="1">派大星</option>
                                <option value="2">肥宅星</option>
                                <option value="3">兔兔星</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>電子信箱：</th>
                        <td><input type="text" id="memEmailRig" name="memEmailRig" placeholder="E-mail含@和."></td>
                    </tr>
                </table>
                <div id="loginRig"></div>
                <div id="registerSubmit" type="button" onclick="register()">註冊</div>
                <div id="registerCancel" type="button" onclick="backLogin()">取消</div>
            </form>
        </section>
    </div>
</div>