<div class="newsLaunch">
    <h2>發布新聞</h2>
    <!-- 用PHP -->
    <form id="MakeNews" action="php/NEWSinsertForm.php" method="POST" enctype="multipart/form-data" class="newsForm container">
      <!-- 用AJAX試試看 -->
      <!-- <form id="MakeNews" method="POST" enctype="multipart/form-data" class="newsForm container"> -->

        <div class="newsUpPic col-12 col-md-4">
            <label for="upFile">
                <input type="file" name="upFile" id="upFile">
                <img id="imgPreview" src="img/vote/NewsUpPic.png" alt="upload">
            </label>
        </div>
        <ul class="newsStarts col-12 col-md-8">
            <li id="Plantaa">作用星球：
              <input type="radio" id="starA" name="Planet" value="1">
              <label for="starA">派大星</label>
    
              <input type="radio" id="starB" name="Planet" value="2">
              <label for="starB">肥宅星</label>
    
              <input type="radio" id="starC" name="Planet" value="3">
              <label for="starC">兔兔星</label>
            </li>
            <li>欲增減支持度：
                <select name="newsPoint" id="newsPoint" required>
                    <option>請選擇</option>
                    <option value="100"> 100</option>
                    <option value="-100">-100</option>
                   
                </select>
            </li>
            
            <li>新聞標題：
                <input type="text" maxlength="20" placeholder="最多輸入10個中文字" name="newsTitle" id="newsTitle" required></input>
            </li>
            <li>新聞內容：
                <textarea maxlength="240" placeholder="最多輸入120個中文字" name="newsContent" id="newsContent" rows="5" required></textarea>
            </li>
        </ul>
        <button type="submit" id="sendnews">送出(<span>$100</span>)</button>
        <button type="reset">清空</button>
    </form>
    
</div>