<html>
<head>
<meta name="viewport" content="initial-scale = 1, user-scalable = no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<style>
	 @media screen and (max-width: 767px){
		.chartRadarDiv{
			display: flex;
  			justify-content: center;
  			align-items: center;
		}
	}

	@media screen and (min-width: 768px){
		.chartRadarDiv{
			display: flex;
  			justify-content: center;
  			align-items: center; 
		}
	} 

	
	
</style>

<body>
	<div class="chartRadarDiv" style="height:100%; width: 100%" >
		<canvas id="chartRadar" style="height:30vh; width: 100%"></canvas>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script type="text/javascript">
	$.ajax({ 
        type: 'POST', 
        url: 'php/chartData.php', 
        success: function (chartDataRow) { 	
	//定義變數
	var chartRadarDOM;
	var chartRadarData;
	var chartRadarOptions;
	
    	//載入雷達圖
	Chart.defaults.global.legend.display = false;
	Chart.defaults.global.defaultFontColor = 'rgba(0,0,74, 1)';
	chartRadarDOM = document.getElementById("chartRadar");
	Chart.defaults.global.defaultFontFamily= '微軟正黑體';
	chartRadarData;
	chartRadarOptions = 
	{
		scale: 
		{
			ticks: 
			{
				fontSize: 12,
				beginAtZero: true,
				maxTicksLimit: 7,//三角形線的數量
				min:0,
				max:100
			},
			pointLabels: 
			{
				fontSize: 16, //智力,財力,魅力的字
				color: '#0044BB'
			},
			gridLines: //三角線
			{
				color: '#009FCC' 
			}
		}
	};
	
	console.log("---------Rader Data--------");
	var  graphData =new Array();
	//  graphData.push(100,40,65);
	// graphData.push(40);
	// graphData.push(65);
	// 個人貢獻支持度
    
            chartData = JSON.parse(chartDataRow); // alert(JSON.stringify(data)); 
            var  graphData =new Array();
            for(var i=0; i<1; i++ ){
                graphData.push(chartData[i].wisdom,chartData[i].charisma,chartData[i].finance);
            }
            
            console.log(graphData); 
            console.log(chartData);
      
	
	
	console.log("--------Rader Create-------------");
	console.log(graphData);
		
        //CreateData
        chartRadarData = {
                labels: ['智力', '財力', '魅力'],
            datasets: [{
                label: "Ability value",
                data:  graphData,
                fill: true,
                backgroundColor: "rgba(17, 34, 51,0.6)",
                borderColor: "rgba(63,63,74,0.6)",
                pointBackgroundColor: "rgba(63,63,74,.5)",
                pointBorderColor: "rgba(0,0,0,0)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(0,0,0,0.3)",
                pointBorderWidth: 3,
                pointRadius:5,
                
                }]
        };

        
            
        //Draw
        var chartRadar = new Chart(chartRadarDOM, {
            type: 'radar',
            data: chartRadarData,
            options: chartRadarOptions
        }); 
     } 
    });
	</script>
</body>
</html>