body {
    height: 100vh;
    background-color: #000;
}

header {
    margin: auto;
}

span {
    line-height: 200px;
    font-size: 80px;
    font-weight: bold;
    color: dimgrey;
}

section {
    height: 100vh;
    background-image: url(../img/cloudFamily.png);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    @keyframes float {
        0% {
            top: 0;
        }

        50% {
            top: 50px
        }

        100% {
            top: 0;
        }
    }

    @keyframes float01 {
        0% {
            top: 0;
        }

        50% {
            top: 20px
        }

        100% {
            top: 0;
        }
    }

    .clearBoth {
        clear: both;
    }

    .wrapper {
        padding-top: 100px;
        text-align: center;
        margin: auto;
        max-width: 600px;
    }

    .headerImg {
        width: 200px;
        margin: auto;
        text-align: center;
    }

    .headerImg img {
        margin-top: 50px;
        width: 100%;
    }

    .choiceOne {
        height: 100px;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
    }

    .front_end {
        width: 200px;
        transition: 1s;
        position: relative;
        top: -300px;
        cursor: pointer;
    }

    .frontendCloud {
        top: 500px;
        max-width: 150px;
        position: relative;
        z-index: 1;
        top: 130px;
        padding: 10px;
    }

    .frontendCloud img {
        width: 100%;
    }

    .brownPlanet {
        max-width: 200px;
        margin: 10px auto 10px;
        position: relative;
        z-index: 0;
        animation: float01 6s infinite;
    }

    .brownPlanet img {
        width: 100%;
    }

    .back_end {
        width: 200px;
        transition: 1s;
        position: relative;
        top: -300px;
        cursor: pointer;
    }

    .backendCloud {
        top: 500px;
        max-width: 150px;
        position: relative;
        z-index: 1;
        top: 130px;
        padding: 10px;
    }

    .backendCloud img {
        width: 100%;
    }

    .greenPlanet {
        max-width: 200px;
        margin: 10px auto 10px;
        position: relative;
        z-index: 0;
        animation: float01 6s infinite;
    }

    .greenPlanet img {
        width: 100%;
    }

    .ufo {
        max-width: 100px;
        height: 200px;
        font-size: 100px;
        transition: 1s;
        margin: auto;
        position: relative;
        top: -100px;
        z-index: 6;
    }

    .ufo img {
        width: 100%;
        /* position: absolute; */
        top: 30%;
        animation: float 3s infinite;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #starShine {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 768px) {

    @keyframes float {
        0% {
            top: 0;
        }

        50% {
            top: 50px
        }

        100% {
            top: 0;
        }
    }

    @keyframes float01 {
        0% {
            top: 0;
        }

        50% {
            top: 20px
        }

        100% {
            top: 0;
        }
    }

    .clearBoth {
        clear: both;
    }

    .wrapper {
        padding-top: 100px;
        text-align: center;
        margin: auto;
        max-width: 1200px;
    }

    .headerImg {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .headerImg img {
        margin-top: 50px;
        width: 100%;
    }

    .choiceOne {
        height: 100px;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
    }

    .front_end {
        width: 400px;
        transition: 1s;
        position: relative;
        top: -300px;
        cursor: pointer;
    }

    .frontendCloud {
        top: 500px;
        width: 300px;
        position: relative;
        z-index: 1;
        top: 130px;
    }

    .frontendCloud img {
        width: 100%;
    }

    .brownPlanet img {
        width: 350px;
        position: relative;
        z-index: 0;
        animation: float01 6s infinite;
    }

    .back_end {
        width: 400px;
        transition: 1s;
        position: relative;
        top: -300px;
        cursor: pointer;
    }

    .backendCloud {
        top: 500px;
        width: 300px;
        position: relative;
        z-index: 1;
        top: 130px;
    }

    .backendCloud img {
        width: 100%;
    }

    .greenPlanet {
        width: 350px;
        margin: auto;
        position: relative;
        z-index: 0;
        animation: float01 6s infinite;
    }

    .greenPlanet img {
        width: 100%;
    }

    .ufo {
        width: 300px;
        height: 300px;
        font-size: 100px;
        transition: 1s;
        margin: auto;
        position: relative;
        top: -100px;
        z-index: 6;
    }

    .ufo img {
        /* position: absolute; */
        top: 30%;
        animation: float 3s infinite;
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        ;
    }

    #starShine {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

}