@import url(reset.css);
@import url(col.css);
/* 
*{
    outline: 1px solid #f00;
} */
body{
    font-family: Arial, Helvetica, sans-serif,'微軟正黑體';
    background-color: #1c0e44;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    font-size: 14px;
}
span{
    font-size: 12px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
@media screen and (min-width: 768px){
    p{
        font-size: 18px;
    }
    span{
        font-size: 14px;
    }
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
}

h2{
    text-align: center;
}
/* *{
    outline:1px solid red;
} */



/* 最上面 */
.indexHeader h1{
    text-align: center;
    margin:70px auto;
}

.indexHeader .indexWinner{
    width: 330px;
    margin:0 auto;
    overflow: hidden;
}
.indexHeader .indexWinner li{
    float: left;
    width: 110px;
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner{
        width: 450px;
    }
    .indexHeader .indexWinner li{
        width: 150px;
    }
}
@media screen and (min-width: 992px){
    .indexHeader .indexWinner{
        width: 600px;
    }
    .indexHeader .indexWinner li{
        width: 200px;
    }
}
.indexHeader .indexWinner li .stageText{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding-top:220px;
    position: relative;
}

.indexHeader .indexWinner .winner2 .stageText{
    background-image: url(../img/stageB2.png);
    margin-right: -3.4%;
}
.indexHeader .indexWinner .winner1 .stageText{
    background-image: url(../img/stageR1.png);
}
.indexHeader .indexWinner .winner3 .stageText{
    background-image: url(../img/stageY3.png);
    margin-left: -3.3%;
}
.indexHeader .indexWinner li img{
    display: block;
    width: 80%;
    margin:0 auto;
}

.indexHeader .indexWinner p{
    text-align: center;
}
.indexHeader .indexWinner .alienImg{
    position: absolute;
    bottom:0;
    left:0;
}
.indexHeader .indexWinner .winner1 .alienImg{
    bottom:105px;
}

.indexHeader .indexWinner .winner2 .alienImg{
    bottom:85px;
}

.indexHeader .indexWinner .winner3 .alienImg{
    bottom:70px;
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner .winner1 .alienImg{
        bottom:140px;
    }
    
    .indexHeader .indexWinner .winner2 .alienImg{
        bottom:115px;
    }
    
    .indexHeader .indexWinner .winner3 .alienImg{
        bottom:90px;
    }
}
@media screen and (min-width: 992px){
    .indexHeader .indexWinner .winner1 .alienImg{
        bottom:185px;
    }
    
    .indexHeader .indexWinner .winner2 .alienImg{
        bottom:150px;
    }
    
    .indexHeader .indexWinner .winner3 .alienImg{
        bottom:120px;
    }
}
.indexHeader .indexWinner li .stageText p{
    width: 150px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner li .stageText{
        padding-top:320px;
    }
}
@media screen and (min-width: 992px){
    .indexHeader .indexWinner li .stageText{
        padding-top:440px;
    }
}

.indexHeader .indexWinner .winner1 .stageText p{
    bottom:70px;
}
.indexHeader .indexWinner .winner2 .stageText p{
    bottom:50px;
}
.indexHeader .indexWinner .winner3 .stageText p{
    bottom:35px;
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner .winner1 .stageText p{
        bottom:90px;
    }
    .indexHeader .indexWinner .winner2 .stageText p{
        bottom:65px;
    }
    .indexHeader .indexWinner .winner3 .stageText p{
        bottom:45px;
    }
}
@media screen and (min-width: 992px){
    .indexHeader .indexWinner .winner1 .stageText p{
        bottom:120px;
    }
    .indexHeader .indexWinner .winner2 .stageText p{
        bottom:90px;
    }
    .indexHeader .indexWinner .winner3 .stageText p{
        bottom:60px;
    }
}
.indexHeader .indexWinner .winner2 .planetTxt{
    padding-top:30px;
}
.indexHeader .indexWinner .winner2 .stageText{
    padding-top:189px;
}
.indexHeader .indexWinner .winner3 .planetTxt{
    padding-top:60px;
}
.indexHeader .indexWinner .winner3 .stageText{
    padding-top:159px;
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner .winner2 .planetTxt{
        padding-top:40px;
    }
    .indexHeader .indexWinner .winner2 .stageText{
        padding-top:279px;
    }
    .indexHeader .indexWinner .winner3 .planetTxt{
        padding-top:70px;
    }
    .indexHeader .indexWinner .winner3 .stageText{
        padding-top:249px;
    }
}
@media screen and (min-width: 992px){
    .indexHeader .indexWinner .winner2 .planetTxt{
        padding-top:50px;
    }
    .indexHeader .indexWinner .winner2 .stageText{
        padding-top:389px;
    }
    .indexHeader .indexWinner .winner3 .planetTxt{
        padding-top:80px;
    }
    .indexHeader .indexWinner .winner3 .stageText{
        padding-top:359px;
    }
}
@media screen and (min-width: 768px){
    .indexHeader .indexWinner li .stageText h1{
        padding-bottom:5px;
    }
}
.indexHeader .indexWinner  li .planetTxt span{
    margin-left:5px;
}


/* 排行榜 */
.leaderBoard h2{
    margin-bottom: 10px;
}
.leaderBoard p{
    text-align: center;
    margin-bottom: 50px;
} 
.boardTitle{
    width: 90%;
    background-color: #666;
    margin:0 auto;
}
.boardInner{
    width: calc(90% - 30px);
    background-color: red;
    margin:0 auto;
    clear:both;
    padding:15px;
    border-radius:0 5px 5px 5px;
}
.boardTitle li{
    float: left;
    background-color: red;
    padding:0 15px;
    line-height: 30px;
    margin-right:10px;
    border-radius: 5px 5px 0 0;
}
.innerTitle li{
    float: left;
    margin:15px;
}
#innerPlayer{
    clear:both;
}
#innerPlayer li ul li{
    float:left;
}
#innerPlayer li ul{
    height: 36px;
    line-height: 36px;
    background-color: #999;
    margin-bottom:5px;
    border-radius: 5px;
    padding: 0px 10px;
}