@include respond(lg) {
    // *{
    //     outline: 1px solid #f00;
    // } *
    @include lg-grid(12);    
    body {

    }
    // 星球計分列
    .navTop{
        line-height: 35px;
        p{
            margin-right: 60px;
        }
    }
    
    // 選單
    .banner{
        position: fixed;
        width: 100%;
        top:35px;
        .hamburger{
            width: 100%;
            height: 100px;
            position: absolute;
            top: 0;
            right:0;
            z-index: 998;
            border-radius: 0;
            border:0;
            background-color: rgba(255,255,255,0);
        }
        .hamburger::before{
            display:none;
        }
        .hamburger::after{
            display:none;
        }
        nav{
            width: 100%;
            height: 100px;
            background-image:none;
            top:0;
            right:0;
            transition: .5s;
            ul{
                position: absolute;
                padding-top:0;
                top:0;
                left:50%;
                transform: translateX(-50%);
                z-index: 999;
            }
            li{
                list-style: none;
                margin:0 11px;
                line-height: 100px;
                float: left;
                text-align: center;
            }
        }
        span{
            margin-top: 0;
            position: absolute;
            right:50px;
            top:50%;
            transform: translateY(-50%);
            z-index: 999;
            #loginBtn{
                text-align: center;
                border:0;
                line-height: 56px;
                background-image: url(../img/loginBtn.png);
                width: 176px;
                height: 56px;
                color:#333;
            }
        }
        #nav-control{
            display: none;
        }
        .logo{
            h1{
                a{
                    margin:15px 0px 0px 50px;
                    background-size: 100%;
                    width: calc(230px * .8);
                    height: calc(91px * .8);
                }
            }
        }
    }

    // 最上面的獎台
    .indexHeader{
        padding-top:150px;
        h1{
            padding-bottom:50px;
        }
        .indexWinner{
            width: 600px;
            li{
                width: 200px;
            }
            .winner1{
                .alienImg{
                    bottom:185px;
                }
                .stageText{
                    p{
                        bottom:120px;
                    }
                }
            }
            .winner2{
                .alienImg{
                    bottom:150px;
                }
                .stageText{
                    p{
                        bottom:90px;
                    }
                    padding-top:389px;
                }
                .planetTxt{
                    padding-top:50px;
                }
            }
            .winner3{
                .alienImg{
                    bottom:120px;
                }
                .stageText{
                    p{
                        bottom:60px;
                    }
                    padding-top:359px;
                }
                .planetTxt{
                    padding-top:80px;
                }
            }
            li{
                .stageText{
                    padding-top:440px;
                }
            }
        }
    }


    // 公民小學堂
    // 影片區
    .video{
        iframe{
            width:80%;
            height: 75%;
        }
    }
    // 背景小物
    .rabbit{
        img{
            width: 20vw;
        }
    }

    .fatty{
        top:40vw;
        left:10vw;
    }

//首頁的贊助商品區//

    .shopContainer{
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        background-color: #333;
        


    .shoptitle{
        margin: 30px auto 50px;
        padding: 30px;
        width: 150px;
        background-size:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/title.png);
            h2{
                color:#fff;
        }	
        
    }  
    .productBox{
        margin: 0 auto;
        width: 95%;
        display: flex;
      
    }
    .boxForProduct{
        margin-right: -100px;
        max-width: 500px;
        .col-6{
            width: 40%;
            margin-bottom: 50px;
        
        }
    }
    .model{
        width: 600px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size:contain;
        border-radius: 10px;
        background-image: url(../img/pinkPlanet.png);
        margin-bottom: 50px;
        background-color: #90BEE3;
    
    }
    .model .pic01{
        padding: 20px;
        margin-top: 50px;
    }
    .productPic{
        box-sizing:border-box;
        margin: 0 auto 20px;
        background-color: antiquewhite;;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        position: relative;
        img{
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            position: absolute;  
            width: 100px;
            text-align: center;
        }
    }
    .productTitle{
    h3{
        font-weight: bold;
        color: #fff;	
    }
    .productBtn{
        width: 60px;
        margin: 10px auto;
        background-color: #448aca;
        padding: 5px;
        border-radius: 50px;
        h2{
            color: #fff;
        }	
    }
    } 

    }
    .clearboth{
        clear: both;
    }
    .moreProductBtn{
        text-align: center;
        margin: 50px auto;
        width: 80px;
        border-radius: 50px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        background-color: #E8B51C;	
        h2{ 
            font-weight: bold;
            color: #fff;
        }
    } 
    
    // 贊助商品內頁
    .toolTitle{
        display: none;
    }
    .toolTitle02{
        margin: 50px;
        h2{
            color: white;
            margin-bottom: 10px;
        }
        p{  
            color: white;
        }
    }
    

    // 聊天機器人
    .tip-robot{
        display: block;
        position: fixed;
        bottom: 3vw;
        right: 3vw;
        img{
            width: 15vw;
        }
    }
    // footer
    .footer{
        background: black;
        .footer-wrap {
            max-width:1200px;
            margin:0 auto;
            padding: 1vw;
        }
        .icon{
            text-align: center;
        }
        p{
            margin-top:1vw;
            text-align: center;
            color:#999;
        }
    }

    // 排行榜
    .boardTitle{
        max-width: 700px;
    }
    .boardInner{
        max-width: 670px;
        .innerTitle{
            width: 600px;
            li:nth-child(1){
                margin-left:60px;
                margin-right:62px;
            }
            li:nth-child(2){
                margin-right:95px;
            }
            li:nth-child(3){
                margin-right:91px;
            }
         }
    }
    #innerPlayer{
        >li{
            margin:0 auto;
            height: 40px;
            line-height: 40px;
            margin-bottom:7px;
            border-radius: 5px;
            padding: 0px 12px;
            max-width: 600px;
        }
        li{
            ul{
                width: 470px;
                li:nth-child(1){
                    margin-left:8px;
                    margin-right:45px;
                }
                li:nth-child(2){
                    margin-right:83px;
                }
                li:nth-child(3){
                    margin-right:87px;
                }
             }
        }
    }

    //公民的家
//內容區塊左
    .boxLeft{
        width: 260px;
        .abilityBox{
            .abilityBoxIn{
                width: 244.4px;
            }
        }
    }


    /*____________________ VOTE ____________________*/
    .votePage{
        .container{
            .voteGroup{
                .voteCard{
                    .voteWrapper{
                        .voteText{
                            small{
                                margin-top: 10px;
                                font-size: 15px;
                                display: block;
                            }
                            h3{
                                font-size: 18px;
                                font-weight: 500;
                                margin-top: 10px;
                            }
                            p{
                                font-size: 18px;
                                font-weight: 400;
                                margin-top: 10px;
                            }
                        }
                        button{
                            width: 100px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    
//首頁footer
    .indexFooter{
        display:block;
        // background:url(../img/index_img/indexFooter.png);
        // background-repeat: no-repeat;
        // margin-top: 20%;
        // width: 100%;
        // height: 470px;
        // // background-color: #333;
        // background-position:center bottom;
        // background-size: 100%;
        position: relative;
       .footerImg{
        width: 100%; 
        
        }
        p{
            background-color: #333;
            width: 100%;
            color: #CCC;
            line-height: 4;
            text-align: center;
            position: absolute;
            top:88%;
            left: 0;
        };
        .indexFooterNav{
            
            position: absolute;
            top: 30%;
            left: 0%;
            width: 100%;
            text-align: center;
            ul{
                
                li{
                    display: inline-block;
                    a{
                        padding: 0 20px;
                        color: #1d2088;
                    }
                }
            }
        }
        .indexMedia{
            position: absolute;
            top: 77%;
            left: 0%;
            width: 100%;
            text-align: center;
            ul{
                li{
                    display: inline-block;
                    .fa{
                        font-size: 25px;
                        color:  #1d2088;
                        padding: 0 10px;
                    }
                }
            }
        }   
    }


    // 首頁加入星球
    .slider_circle_10 {
        width: 65vw;
        height: 50vw;
        margin-top:-250px;
        .active {
            top: 30%;
            left: 50%;
            margin-left: -25%;
            width: 50%;
            height: 75%;
            z-index: 10;
        }
        .prev1,
        .next1 {
            top: 35%;
            left: 50%;
            margin-left: -40%;
            width: 25%;
            height: 35%;
            z-index: 9;
        }
        .next1 {
            margin-left: 15%;
        }
    }
    .pla_slec_in{
        .slec_star{
            width: 100%;
            height: 100%;
            img{
                width: 75%;
                bottom:10%;
            }
        }
        .slec_alien{
            img{
                width: 25%;
                bottom:50%;
            }
        }
        .slec_cont{
            width: 55%;
            height: 35%;
            div{
                bottom:7%;
                height: 70%;
            }
        }
    }
    #pla_slec_2{
        .slec_alien{
            img{
                width: 30%;
                bottom:50%;
            }
        }
    }
  




}