@include respond(md) {
    @include md-grid(12);
    @include md-fontsize($fontBasesize);
    body {
        // font-size: 40px;
    }

    // 首頁最上面獎台
    .indexHeader{
        .indexWinner{
            width: 450px;
            li{
                width: 150px;
                .stageText{
                    h1{
                        padding-bottom:5px;
                    }
                    padding-top:320px;
                }
            }
            .winner1{
                .alienImg{
                    bottom:140px;
                }
                .stageText{
                    p{
                        bottom:90px;
                    }
                }
            }
            .winner2{
                .alienImg{
                    bottom:115px;
                }
                .stageText{
                    p{
                        bottom:65px;
                    }
                    padding-top:279px;
                }
                .planetTxt{
                    padding-top:40px;
                }
            }
            .winner3{
                .alienImg{
                    bottom:90px;
                }
                .stageText{
                    p{
                        bottom:45px;
                    }
                    padding-top:249px;
                }
                .planetTxt{
                    padding-top:70px;
                }
            }
        }
        li{
            .stageText{
                padding-top:320px;
            }
        }
    }

     //公民的家
.homeContent{
    padding-top: -150px;
}

// 內容區塊-左
.boxLeft{
    margin: auto;
    
    
    .memNameBox{
        margin-bottom:50px;
        
    }
    .supportBox{
        border-radius: 8px 8px 8px 8px ;
        padding-bottom: 2%;
        margin-bottom: 30px; 
        margin: auto;
        h4{
            text-align: center;
            width: 90%;
            font-size: 24px;
            // margin-left: -5px;
        }
        .supportBoxIn{
            padding-top: 5%;
            margin-right: 8px;
            margin-bottom: 3px;
            padding-bottom: 5%;
            width: 94%;
                p{   
                    font-size: 60px;
                }
            }
        
        }

    .abilityBox{

        border-radius: 8px 8px 8px 8px ;
        margin-top: 30px;
        // height: 200px;
        h4{
            padding-left: -5%;
            text-align: center;
            width: 90%;
            font-size: 24px;
            // margin-left: -5px;
        }
        .abilityBoxIn{
            margin-bottom: 3px;
            height: 200px;
            width: 94%;
                 p{   
                     font-size: 60px;
                 }
         }
    }
}
    
    

    
//內容區塊-中
    .redBall{
        height: 900px;
        .boxCenter{ 
            img{
            margin-top: 190px;
            }
        }
    }

    
 //內容區塊-右
 
    #tab-demo{
        margin-top: 115px;
        ul{
            li{
                a{
                    padding-left: 6px;
                    padding-right: 6.5px;
                }
            }
        }
        width: 240px; 
        height: 580px;
        .tabIn{
            height: 460px;
            border-radius: 0px 0px 8px 8px;
            .wrapTabIn{
                overflow: visible;
                .tab-inner{
                    width: 100%;
                    height: 460px;
                    .propBox{
                            
                            width: 95px;   
                            padding-bottom: 95px;
                            margin-left: -1px;
                            margin-right: 14px;
                            margin-bottom: 14px;
                    } 
                }
            }
        } 
    }

    
   
    
    .propBox2{
        width: 95px;   
        padding-bottom: 95px;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 14px;
    }


    // 排行榜
    .boardTitle{
        max-width: 550px;
        li{
            padding:0px 20px;
            line-height: 36px;
        }
    }
    .boardInner{
        max-width: 520px;
        .innerTitle{
            width: 450px;
        }
        .innerTitle{
            li:nth-child(1){
                margin-left:9px;
                margin-right:48px;
            }
            li:nth-child(2){
                margin-right:84px;
            }
            li:nth-child(3){
                margin-right:58px;
            }
        }
    }
    #innerPlayer{
        >li{
            margin:0 auto;
            height: 40px;
            line-height: 40px;
            margin-bottom:7px;
            border-radius: 5px;
            padding: 0px 12px;
            max-width: 450px;
        }
        li{
            ul{
                width: 423px;
                li{
                    float:left;
                    width: 40px; 
                }
                li:nth-child(1){
                    margin-left:8px;
                    margin-right:30px;
                }
                li:nth-child(2){
                    margin-right:75px;
                }
                li:nth-child(3){
                    margin-right:65px;
                }
            }
        }
    }

    // 最上面的獎台
    .indexHeader{
        .indexWinner{
            width: 450px;
            li{
                width: 150px;
                .stageText{
                    h1{
                        padding-bottom:5px;
                    }
                    padding-top:320px;
                }
            }
            .winner1{
                .alienImg{
                    bottom:140px;
                }
                .stageText{
                    p{
                        bottom:90px;
                    }
                }
            }
            .winner2{
                .alienImg{
                    bottom:115px;
                }
                .stageText{
                    p{
                        bottom:65px;
                    }
                    padding-top:279px;
                }
                .planetTxt{
                    padding-top:40px;
                }
            }
            .winner3{
                .alienImg{
                    bottom:90px;
                }
                .stageText{
                    p{
                        bottom:45px;
                    }
                    padding-top:249px;
                }
                .planetTxt{
                    padding-top:70px;
                }
            }
        }
        li{
            .stageText{
                padding-top:320px;
            }
        }
    }


    // 公民小學堂網頁標題
    .title{
        width: 18.5vw;
        height: 6vw;
        margin: 5vw auto 0;
        h1{
            line-height: 6vw;
        }
    }
    // 目錄與頁籤
    .select-section{
        width: 55%;
        margin: 5vw auto;
    }
    // 影片區
    .video{
        width: 53vw;
        height: 36vw;
    }
    // 背景小物
    .rabbit{
        top:30vw;
        right:20vw;
    }

    .fatty{
        top:45vw;
        left:10vw;
    }

    // 影片區slider
    .slider{
        display: flex;
        justify-content: center;
        height: 10vw;
        margin: 0 auto;
        width: 65%;
        .video-slider{    
            margin: 2vw auto;
            background-color: #CCC;
            border-radius: 20px;
            position: relative;
            height: 10vw;
            overflow: hidden;
            width: 100%;
            ul{
                width: 125%;
                height: 10vw;
                position: relative;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                li{
                    width: 20%;
                    height: 10vw;
                    line-height: 10vw;
                    display: block;
                }
            }
        }
    
        .slider-forward{
            background:transparent;
            border: transparent;    
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left: -2vw;
                z-index: 2;
                font-size: 8vw;
            }
        }
    
        .slider-back{
            background:transparent;
            border: transparent;
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left:-1vw;
                z-index: 2;
                font-size: 8vw;
            }
        }
    }
    // Question
    .question{
        width: 55%;
    }
    
/*____________________ 贊助商品區 ____________________*/

    .shopContainer{
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        background-color: #333; 
        .shoptitle{
            margin: 30px auto 50px;
            padding: 30px;
            width: 150px;
            background-size:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/title.png);
                h2{
                    color:#fff;
                }	  
        }  
        .productBox{
            max-width: 800px;
            display: flex;
            .boxForProduct{
                max-width: 500px;
                margin: 0 auto;
                .col-6{
                    margin-bottom: 50px;
                    width: 50%;
                }
            }
        }
        .model{
            width: 600px;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size:contain;
            border-radius: 10px;
            background-image: url(../img/pinkPlanet.png);
            margin-bottom: 50px;
            background-color: #90BEE3;  
            .pic01{
                padding: 20px;
                margin-top: 50px;
            }
        }
        .productPic{
            box-sizing:border-box;
            margin-top: 0;
            margin-right: 0;
            background-color: antiquewhite;;
            border-radius: 10px;
            width: 150px;
            height: 150px;
            position: relative;
            img{
                top: calc(50% - 50px);
                left: calc(50% - 50px);
                position: absolute;  
                width: 100px;
                text-align: center;
            }
        }
        .productTitle{
            h3{
                font-weight: bold;
                color: #fff;
                margin-left: 18px;	
            }
            .productBtn{
                width: 60px;
                margin-right: 40px;
                background-color: #448aca;
                padding: 5px;
                border-radius: 50px;
                h2{
                    color: #fff;
                }	
            }
        } 
    }
    .clearboth{
        clear: both;
    }
    .moreProductBtn{
        text-align: center;
        margin: 50px auto;
        width: 80px;
        border-radius: 50px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        background-color: #E8B51C;	
        h2{ 
            font-weight: bold;
            color: #fff;
        }
    }
    .toolTitle{
        display: none;
    }
    .toolTitle02{
        display: block;
        margin: 50px;
        h2{
            color: white;
            margin-bottom: 10px;
        }
        span{  
            color: white;
        }
    }
    //贊助商品區的到具燈箱//
    #shopLightBox{
        color: #FFF;
        background-color: #E8B51C;
        margin: 0 auto;
        border-radius: 10px;
        position: absolute;
        top: calc(40% - 100px);
        right: calc(50% - 100px);
        z-index: 1;
        width: 200px;
        height: 150px;
        p{
            margin: 30px auto 30px;
        }
        span{
            padding: 5px 10px 5px 10px;
            margin: 20px;
            background-color: #a6bfd0;
            border-radius: 5px;
        }
    }
 //↑↑↑↑↑以上為贊助商品區↑↑↑↑↑

    // 聊天機器人
    .tip-robot{
        display: none;
    }
    // footer
    .footer{
        background: black;
        .footer-wrap {
            max-width:1200px;
            margin:0 auto;
            padding: 1vw;
        }
        .icon{
            text-align: center;
        }
        p{
            margin-top:1vw;
            text-align: center;
            color:#999;
        }
    }

    // 首頁加入星球
    .next_button,
    .prev_button {
        top: 75% !important;
    }
    .slider_circle_10 {
        width: 80vw;
        height: 80vw;
        margin-top:-170px;
        .active {
            top: 30%;
            left: 50%;
            margin-left: -25%;
            width: 50%;
            height: 70%;
            z-index: 10;
        }
        .prev1,
        .next1 {
            top: 35%;
            left: 50%;
            margin-left: -40%;
            width: 25%;
            height: 35%;
            z-index: 9;
        }
        .next1 {
            margin-left: 15%;
        } 
    }
    
    
    .pla_slec_in{
        .slec_star{
            width: 100%;
            height: 100%;
            img{
                width: 90%;
                bottom:10%;
            }
        }
        .slec_alien{
            img{
                width: 35%;
                bottom:48%;
            }
        }
        #pla_slec_2{
            .slec_alien{
                img{
                    width: 40%;
                    bottom:48%;
                }
            }
        }
        .slec_cont{
            bottom:5%;
            width: 60%;
            height: 33%;
            div{
                bottom:-15%;
                height: 70%;
            }
        }
    }





// news 開始
.news {
    background: url('../img/vote/page-bg-star.png') no-repeat center center / cover;
    font-family: "微軟正黑體";
//     background-image: url(../img/START.png), url(../img/bg.png);
//     background-repeat: repeat;
}
.newstitle{
    h1 {
        background: url('../img/vote/title-bg.png') no-repeat center center / contain;
        color: #fff;
        text-align: center;
        line-height: 2.8;
    }
}  

.newsBox {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.newsitem {
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction:row;
    width: 100%;
    max-width: 1200px;
    color: #eee;
    text-align: center;
    margin: 30px auto;
    border-radius: 30px;


    .newsPic {
       width: 40%;

        img {
            width: 80%;
            margin: 20px auto;
            text-align: center;

        }

    }

    .newsText {
        width: 60%;
        text-align: left;
        margin: auto;

h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    p {
        line-height: 1.6;
        margin-top: 20px;
        margin-bottom: 25px;

    }

    }

    

}
.newsBtnAll{
    .newsBtn{
        float: left;
    }
    .newsreport{
        float: right;

    }
}

.newsBtn {
    margin-bottom: 20px;
    display: flex;

    img {
        padding-left: 30px;
    }
    .newsreport{
       margin: 50px;
       
    }

}

.creatNEWS{
   background-color: #000000;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 30px;
}

// news end


// 首頁雷達
.chartRadarDiv{
    display: flex;
      justify-content: center;
      align-items: center; 
}


// MD 結束
}