//格線
@mixin grid($num) { 
    [class|="col"]{
        float: left;
        padding:0 15px;
        box-sizing: border-box;
    }
    @for $i from 1 through $num {
        .col-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}

@mixin md-grid($num) { 
    [class|="col"]{
        float: left;
        padding:0 15px;
        box-sizing: border-box;
    }
    @for $i from 1 through $num {

        .col-md-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}

@mixin lg-grid($num) { 
    [class|="col"]{
        float: left;
        padding:0 15px;
        box-sizing: border-box;
    }
    @for $i from 1 through $num {

        .col-lg-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}

@mixin xl-grid($num) { 
    [class|="col"]{
        float: left;
        padding:0 15px;
        box-sizing: border-box;
    }
    @for $i from 1 through $num {

        .col-xl-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}

// rwd function
@mixin respond($breakpoint){
<<<<<<< HEAD
    
    @if $breakpoint == 'large'{
        @media all and (min-width: $large){
=======
    @if $breakpoint == 'xl'{
        @media all and (min-width: $xl){
>>>>>>> 28ee5c6d9c0dfed161f646fd7fea8441cb9025d8
            @content;
        }
    }

    @else if $breakpoint =='lg'{
        @media all and (min-width: $lg){
            @content;
        }
    }
    @else if ($breakpoint =='md'){
        @media all and (min-width: $md){
            @content;
        }
    }
    @else if ($breakpoint =='xs'){
        @media all and (max-width: $xs){
            @content;
        }
    }
}