@include respond(xl) {
    @include xl-fontsize($fontBasesize);
    body {
    // font-family: Arial, Helvetica, sans-serif,'微軟正黑體';
    background-color: #1c0e44;
    background-image:
    url(../img/star2.png),
    url(../img/star1.png),
    url(../img/bac2.png),
    url(../img/bac1.png);
    width: 100%;
    /* height: 1450px; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    }

    .banner{
        nav{
            li{
                margin:0 25px;
            }
        }
    }
    .video-body{
        width: 100%;
        height: 100%;
        background: url(../img/background.png);
        background-size:cover;
        position: relative;
        z-index: -2;
    }
    
    //         // 天長條
    // .navTop{
        
    //     color:white;
    //     background:black;
    //     overflow: hidden;
    //     span{
    //         float:right;
    //         padding: .3vw;
    //         margin:0 1vw 0;
    //     }
    // }

    // .nav{
    //     max-width: 1200px;
    //     margin: 0 auto;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     // font-family: "微軟正黑體";
    //     .logo{
    //         img{
    //             margin:1.5vw 0 0 0 ;
    //             width:12vw;
    //         }
            
    //     }
    // }
    
    // .navBar ul{
    //     display: flex;
    //     justify-content: space-around;
    //     li{
    //         padding: 5px 15px 0 ;
    //         a{
    //             color:white;
    //             text-decoration: none;
    //             font-size: 24px;  
    //         }
            
    //     }
    // }
    
    // .navLogin{
    //     .login{
    //         margin:2.3vw 0 0 0;
    //         width:8vw;
    //         height:2.5vw;
    //         background: url("../img/loginButton.png");
    //         background-size: cover;
    //         text-align: center;
    //         line-height: 2.5vw;
    //         a{
    //             color:black;
    //             font-size: .8vw; 
    //         }
    //     }
    // }
    .container{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
        box-sizing: border-box;
    }


    // 公民小學堂網頁標題
    .title{
        width: 18.5vw;
        height: 6vw;
        background: url("../img/slogan-frame.png");
        background-size: cover;
        color:white;
        margin: 5vw auto 0;
        h1{
            font-weight: bold;
            text-align: center;
            line-height: 6vw;
            font-size: 30px;
        }
        h2{
            text-align: center;
        }
    }
    // 目錄與頁籤
    .select-section{
        width: 55%;
        display: flex;
        justify-content: space-between;
        margin: 5vw auto;
        button{
            font-size: 20px;
            // background-color: #1d2088;
            background-color: #1d2088;
            &:hover{
                background-color: lighten(#1d2088 , 10%);
            }
            color: white;
            padding:5px 18px;
            // box-shadow: 0px 0px 20px #fff;
            border-radius: 20px;
            border: 1px solid #fff;
        }
    }
    // 影片區
    .video{
        width: 53vw;
        height: 36vw;
        overflow: hidden;
        background: url("../img/video-frame.png");
        background-size: cover;
        text-align: center;//iframe是inline屬性
        margin: 5vw auto 0;
        iframe{
            width:70%;
            height: 70%;
            margin: 5vw 0 0 0;
        }
    }
    // 背景小物
    .rabbit{
        width: 10vw;
        position: absolute;
        top:30vw;
        right:20vw;
        z-index:-1;
        img{
            width: 20vw;
        }
    }

    .fatty{
        width: 10vw;
        position: absolute;
        top:37vw;
        left:5vw;
        z-index:-1;
        img{
            width: 20vw;
        }
    }

    // 影片區slider
    .video-slider{
        width: 53vw;
        height: 10vw;
        margin: 2vw auto;
        background-color: #CCC;
        border-radius: 20px;
    }
    // Question
    .question{
        width: 53vw;
        margin: 5vw auto;
        background: #dcdcdc;
        border-radius: 30px;
        padding: 5vw;
        box-sizing: border-box;
        h2{
          font-size: 2vw;
          font-weight: bold;  
        }
        li{
            font-size: 1.5vw;
            margin: 2vw 0;
            a{
                color:black;
            }
            a:hover {
            color: #1d2088;
            }
        }
        
        
        p{
            font-size: 1.5vw;
            margin: 2vw 0;
            color: red;
        }
        .button-section{
            // width: 25%;
            // display: flex;
            // justify-content: space-around;
            button{
                font-size: 20px;
                background-color: #1d2088;
                color: white;
                padding:5px 18px;
                box-shadow: 0px 0px 20px #fff;
                border-radius: 20px;
                border: none;
            }
        }
    }
    // 聊天機器人
    .tip-robot{
        position: fixed;
        bottom: 3vw;
        right: 3vw;
        img{
            width: 15vw;
        }
    }
    // footer
    .footer{
        background: black;
        // font-family: "微軟正黑體";
        .footer-wrap {
            max-width:1200px;
            margin:0 auto;
            padding: 1vw;
        }
        .icon{
            text-align: center;
            img{
               width: 2vw; 
            }
        }
        p{
            margin-top:1vw;
            text-align: center;
            color:white;
        }
    }

    // 公民的家
//內容區塊左
.supportBox{
        
    h4{
        font-size: 24px;
        float: none;
        width: 100%;
    }
    .supportBoxIn{
        width: 95%;
        margin-right: 10px;
    }   
}
.boxLeft{
        .abilityBox{ 
        h4{
            font-size: 24px;
            width:100%;
            float: none;
        }
        .abilityBoxIn{
            width: 241px;
            margin-right: 10px;
        }
    }
}



.propBox,.propBox2{
    width: 45%;   
    padding-bottom: 45%;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 14px;
}

    
    @include xl-grid(12);
}