@include respond(xl) {
    @include xl-grid(12);
    @include xl-fontsize($fontBasesize);

    .banner{
        nav{
            li{
                margin:0 20px;
            }
        }
    }

    // 公民小學堂
    // 背景小物
    .rabbit{
        top:30vw;
        right:20vw;
    }

    .fatty{
        top:37vw;
        left:10vw;
    }

    // 影片區slider
    .video-slider{
        width: 53vw;
        height: 10vw;
    }

    .slider{
        display: flex;
        justify-content: center;
        height: 10vw;
        margin: 0 auto;
        width: 62vw;
        .video-slider{    
            margin: 2vw auto;
            background-color: #CCC;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            width: 100%;
            ul{
                width: 125%;
                height: 10vw;
                position: relative;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                li{
                    width: 20%;
                    height: 10vw;
                    line-height: 10vw;
                    display: block;
                    position: relative;
                    iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        z-index: 2;
                    }
                }
            }
        }
    
        .slider-forward{
            background:transparent;
            border: transparent;    
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left: -2vw;
                z-index: 2;
                font-size: 8vw;
            }
        }
    
        .slider-back{
            background:transparent;
            border: transparent;
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left:-1vw;
                z-index: 2;
                font-size: 8vw;
            }
        }
    }
    // Question
    .question{
        width: 53vw;
    }

//首頁的贊助商品區//
    .shopContainerAll{
        background: url('../img/vote/page-bg-star.png') no-repeat center center / cover;
    }
    .shopContainer{
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        .shoptitle{
            margin: 30px auto 50px;
            padding: 30px;
            width: 150px;
            background-size:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/title.png);
                h2{
                    color:#fff;
                }	  
        }  
        .productBox{
            margin: 0 auto 100px;
            width: 95%;
            display: flex;
            max-width: 1200px;
        }
        .boxForProduct{
            margin-right: -100px;
            max-width: 500px;
            .col-6{
                width: 40%;
                margin-bottom: 50px;
            }
        }
        .model{
            width: 600px;
            background-position: bottom;
            background-repeat: no-repeat;
            background-size:contain;
            border-radius: 10px;
            background-image: url(../img/pinkPlanet.png);
            margin-bottom: 50px;
            background-color: #90BEE3;
            .pic01{
                padding: 20px;
                margin-top: 50px;
            }
        } 
        .productPic{
            box-sizing:border-box;
            margin: 0 auto 20px;
            background-color: antiquewhite;;
            border-radius: 10px;
            width: 150px;
            height: 150px;
            position: relative;
            img{
                top: calc(50% - 50px);
                left: calc(50% - 50px);
                position: absolute;  
                width: 100px;
                text-align: center;
            }
        }
        .productTitle{
            h3{
                font-weight: bold;
                color: #fff;	
            }
            .productBtn{
                width: 60px;
                margin: 10px auto;
                background-color: #448aca;
                padding: 5px;
                border-radius: 50px;
                h2{
                    color: #fff;
                }	
            }
        } 
    }
    .clearboth{
        clear: both;
    }
    .moreProductBtn{
        text-align: center;
        margin: 50px auto;
        width: 80px;
        border-radius: 50px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        background-color: #E8B51C;	
        h2{ 
            font-weight: bold;
            color: #fff;
        }
    } 
    // 贊助商品內頁
    .toolTitle{
        display: none;
    }
    .toolTitle02{
        margin: 50px;
        h2{ 
            color: white;
            margin-bottom: 10px;
        }
        p{  
            color: white;
        }
    }
//商品業內頁的燈箱
    #shopLightBox{
        color: #FFF;
        background-color: #E8B51C;
        margin: 0 auto;
        border-radius: 10px;
        position: absolute;
        top: calc(25% - 100px);
        right: calc(50% - 100px);
        z-index: 1;
        width: 200px;
        height: 150px;
        p{
            margin: 30px auto 30px;
        }
        span{
            padding: 5px 10px 5px 10px;
            margin: 20px;
            background-color: #a6bfd0;
            border-radius: 5px;
        }
    }
// ---------------------以上為商品贊助區-----------------------

    .slider{
        display: flex;
        justify-content: center;
        height: 10vw;
        margin: 0 auto;
        width: 62vw;
        .video-slider{    
            margin: 2vw auto;
            background-color: #CCC;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            width: 100%;
            ul{
                width: 125%;
                height: 10vw;
                position: relative;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                li{
                    width: 20%;
                    height: 10vw;
                    line-height: 10vw;
                    display: block;
                }
            }
        }

        .slider-forward{
            background:transparent;
            border: transparent;    
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left: -2vw;
                z-index: 2;
                font-size: 8vw;
            }
        }

        .slider-back{
            background:transparent;
            border: transparent;
            width: 5vw;
            height: 10vw;
            line-height: 10vw;
            position: relative;
            i{
                color: #aaa;
                position: absolute;
                top: 3vw;
                left:-1vw;
                z-index: 2;
                font-size: 8vw;
            }
        }
    }
// Question
    .question{
        width: 53vw;
    }

    // footer
    //首頁footer
    footer{
        .indexFooter{
            // position: absolute;
            
                .footerImg{
                
                    width: 100%; 
                    
                        }
            .indexMedia{
                position: absolute;
                top: 78.5%;
                left: 0%;
                width: 100%;
                text-align: center 
                    }   
                
        }
        
    }
    // 公民的家
//內容區塊左
    .supportBox{
            
        h4{
            font-size: 24px;
        
        }
        .supportBoxIn{
            width: 95%;
            margin-right: 10px;
        }   
    }
    .boxLeft{
            .abilityBox{ 
            h4{
                font-size: 24px;
                
            }
            .abilityBoxIn{
                width: 241px;
                margin-right: 10px;
            }
        }
    }



    .propBox,.propBox2{
        width: 45%;   
        padding-bottom: 45%;
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: 14px;
    }


  // 首頁加入星球
  .slider_circle_10 {
        width: 65vw;
        height: 55vw;
        margin-top:-280px;
    }

// news 開始
    .news {
        background: url('../img/vote/page-bg-star.png') no-repeat center center / cover;
        // font-family: "微軟正黑體";
        // background-image: url(../img/START.png), url(../img/bg.png);
        // background-repeat: repeat;
    }

    .newsBox {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }




    .newsBtn {
        margin-bottom: 20px;

        img {
            padding-left: 30px;
        }

    }

    // 首頁
    .index_body{
        // background-color: #1c0e44;
        background-image:url(../img/index_img/indexBGtop.jpg);
        background-size:100%;
        background-position:center top;
        background-repeat: no-repeat;
        .indexWrap{
            background-image:url(../img/index_img/indexBGearth.jpg.png),url(../img/index_img/indexBGbottom.png);
            background-size:110%,100%;
            background-position:center 10%,center 10%;
            background-repeat: no-repeat;
            margin-left:0px;
        }
    }

    .indexStar{
        width: 100vw;
        img{
            position: absolute;
            z-index: -999;
            top:100px;
            left:50%;
            transform-origin: 50%;
            // transform: translateX(-30%) rotate(30deg);
            width: 150%;
        }
    }



// news end
}