// @include respond(xs) {
    @include md-fontsize($fontBasesize);
    @include grid(12);
    .homeCitizen {
        // font-family: Arial, Helvetica, sans-serif,'微軟正黑體';
        background-color: #1c0e44;
        background-image:
        url(../img/star2.png),
        url(../img/star1.png),
        url(../img/bac2.png),
        url(../img/bac1.png);
        width: 100%;
        /* height: 1450px; */
        background-repeat: no-repeat;
        /* background-size: contain; */
    }


// 星球計分列
.navTop{
    position: fixed;
    top:0;
    width: 100%;
    line-height: 30px;
    z-index: 999;
    background-color: #000;
    p{
        color:#fff;
        float:right;
        margin-right: 20px;
    }
}
    
// 選單
.banner{
    position: fixed;
    width: 100%;
    z-index: 999;
    top:30px;
    left:0;
    .hamburger{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right:20px;
        z-index: 999;
        border-radius: 50%;
        border: 2px solid rgb(212, 240, 248);
        background-color: rgba(133, 215, 240, 0.9);
    }
    .hamburger::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 8px 0px #fff;		
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: .5s;
    }
    .hamburger::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px -8px 0px #fff;			
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transition: .5s;
    }
    nav{
        width: 70vw;
        height: 100vh;
        /*background-color: rgba(133, 215, 240, 0.9);*/
        background-image: linear-gradient(180deg,rgba(133, 215, 240, 1) 0%,rgba(75, 54, 145,.8) 100%);
        position: absolute;
        top:0;
        right:-70vw;
        transition: .5s;
        ul{
            padding-top: 100px;
        }
        li{
            list-style: none;
            margin: 30px;
            text-align: center;
        }
        a{
            color: white;
            text-decoration:none;
        }
    }
    span{
        display: block;
        margin-top: 60px;
        #loginBtn{
            display: block;
            margin:0 auto;
            text-align: center;
            border:1px solid #fff;
            line-height: 40px;
            width: 150px;
            border-radius: 20px;
        }
    }
    #nav-control{
        position: fixed;
        margin-left: -9999px;
    }
    #nav-control:checked{
        ~.hamburger::before{
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background-color:white;
            box-shadow: none;			
            transform: skew(10deg,-45deg);
            transition: .5s;
            transform: rotate(225deg);
        }
        ~.hamburger::after{
            content: '';
            width: 20px;
            height: 2px;
            display: block;
            box-shadow: none;
            background-color:white;
            transform: skew(-10deg,45deg);
            transition: .5s;
            transform: rotate(-225deg);
        }
        ~nav{
            transition: .5s;
            right:0;
        }
    }
    
    
    .logo{
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        h1{
            text-indent: -9999px;
            a{
                display: block;
                margin:15px 0 5px 20px;
                background-image: url(../img/logo.png);
                background-repeat: no-repeat;
                -webkit-background-size: 100%;
                background-size: 100%;
                width: 130px;
                height: 55px;
            }
        }
    }
}


    // 首頁最上面獎台
    .indexHeader{
        padding-top:100px;
        h1{
            text-align: center;
            margin:70px auto;
        }
        .indexWinner{
            width: 330px;
            margin:0 auto;
            overflow: hidden;
            li{
                float: left;
                width: 110px;
                .stageText{
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    padding-top:220px;
                    position: relative;
                    p{
                        width: 150px;
                        position: absolute;
                        bottom:0;
                        left:50%;
                        transform: translateX(-50%);
                    }
                }
                img{
                    display: block;
                    width: 80%;
                    margin:0 auto;
                }
                .planetTxt{
                    span{
                        margin-left:5px;
                    }
                    p{
                        margin-bottom:5px;
                    }
                }
            }
            .winner2{
                .stageText{
                    background-image: url(../img/index_img/stageB2.png);
                    margin-right: -3.4%;
                    padding-top:189px;
                    p{
                        bottom:50px;
                    }
                }
                .alienImg{
                    bottom:85px;
                }
                .planetTxt{
                    padding-top:30px;
                }
            }
            .winner1{
                .stageText{
                    background-image: url(../img/index_img/stageR1.png);
                    p{
                        bottom:70px;
                    }
                }
                .alienImg{
                    bottom:105px;
                }
            }
            .winner3{
                .stageText{
                    background-image: url(../img/index_img/stageY3.png);
                    margin-left: -3.3%;
                    padding-top:159px;
                    p{
                        bottom:35px;
                    }
                }
                .alienImg{
                    bottom:70px;
                }
                .planetTxt{
                    padding-top:60px;
                }
            }
            p{
                text-align: center;
            }
            .alienImg{
                position: absolute;
                bottom:0;
                left:0;
            }
        }
    }

     //公民的家
.homeContent{
    // margin-top: 50px;
    padding-top: 150px;
}
.memNameBox{
    overflow: hidden;
    margin-bottom:10px;
    img{
        float: left;
        padding-right: 20px;
      }
    h3,h2{
    color: #fff;
    }

    h3{
    font-size: 20px;
    }
    h2{
    font-size: 32px;
    }
}
.supportBox{
    background-color: $green;  
    padding-bottom: 2%;
    border-radius: 8px;
    margin-bottom: 10px;
    h4{
        text-align: center;
        font-size: 20px;
        line-height: 2.5;
    }
    .supportBoxIn{
        width: 55%;
        line-height: 2;
        background-color: #d4faff;
        margin: auto;
        border-radius: 8px;
        p{
            color: #333;
            font-size: 20px;
            text-align: center;
            
        }
    }
}

.abilityBox{
    background-color: $green;  
    padding-bottom: 2%;
    border-radius: 8px;
    margin-bottom: 10px;
    h4{
        text-align: center;
        font-size: 20px;
        line-height: 2.5;
    }
    .abilityBoxIn{
        width: 95%;
        line-height: 2;
        background-color: #d4faff;
        margin: auto;
        border-radius: 8px;
        height: 200px;
    }
}

.supportBox{
    overflow: hidden;
    
    h4{
        width: 41%;
        float: left;
        padding-top: 10px;
        // margin: auto;
        font-size: 1em;
    }   
    .supportBoxIn{
        
        float: right;
        margin-top: 10px;
        margin-right:3%;
        
    }
    p{
        line-height: 2;
          
      }
}


.abilityBox{
    margin-top: 30px;
    overflow: hidden; 
    h4{
        width: 40%;
        float: left;
        padding-top: 10px;
        margin-left: 5px;
        font-size: 1em;
    }
    .abilityBoxIn{
        width: 55%;
        float: right;
        margin-top: 10px;
        margin-right: 3%;
        
    }   
}


//中間區塊
.boxCenter{
    margin-top: 60px;
    margin-bottom: 60px;
    
}
.boxCenter img{
    display: block;
    margin: auto;
}


.redBall{
    background-image: url(../img/redball.png);
    
    background-repeat: no-repeat;background-position:center bottom;
    height: 1165px;
    
    
    
    .redImg{
    width: 100%;
    }
    // .redBallIn{
    // padding: 0px 15px;
    // }
}

.memBtn{
    display: block;
    margin: auto;
    font-size: 20px;
    border-radius: 20px;
    color: #b78100;
    border:1px solid #b78100;
    background: #ffd584;
    padding: 10px 20px;
    margin-top: 30px;
}



// 內容區塊右
#tab-demo{ 
    margin: auto;
    ul{ 
        display:block;
        margin:0;
        list-style:none;
       
        li{
            display:inline-block; 
            vertical-align:top;
             margin:0 -1px -1px 0 ; 
             /* border:1px solid #BCBCBC;  */
             height:28px; line-height:2; 
             background:#a6bfd0;
             padding:0 15px;list-style:none; box-sizing:border-box;
             border-radius: 8px 8px 0 0;
             a{ 
                color:#333; 
                text-decoration:none;
                padding-left: 18.5px;
                padding-right: 18.5px;
            }
            
           }
           li.active{ 
                /* border-bottom:1px solid #fff;  */
                background:$green;
            }
    }
    
    
    .tabIn{
        background-color: $green;
        margin: auto;
        border-radius: 0px 8px 8px 8px;
        height: 148px;
        .wrapTabIn{
            margin: 0 10px;  
            overflow: overlay;

            .tab-inner{
                width: 912px;
                margin-bottom: 55px;
                clear:both; 
                color:#000;
                padding:15px 10px; 
                height:50px; 
                /* border:1px #BCBCBC solid; */
                .propBox{
                    border-radius: 8px;
                    background-color: #d4faff;
                    width: 100px;   
                    padding-bottom: 100px;
                    float: left;
                    margin-bottom: 10px;
                    margin-right: 2.5px;
                    margin-left: 2.5px;
                    margin-right: 5.5px;
                       
                    
                    margin-left: 7px;
                    margin-right: 7px;
                    margin-bottom: 14px;
                    
                }  
              }
            
        }

        .wrapTabIn::-webkit-scrollbar {
            width: 6px;
            height: 10px;
        }
        .wrapTabIn::-webkit-scrollbar-thumb {
            background-color: #0996b9;
            border-radius: 5px;
        }
    
        .wrapTabIn::-webkit-scrollbar-track {
            background-color: #c4c4c4;
        }
    }
 }

    //會員資料區
    .memDataItem{
        width: 450px;
        margin: auto;
        
    }
    .memDataItem label,.memDataItem span{
        color: #eee;
        font-size: 18px;
        line-height: 1;
    }


    .memDataBox{
        text-align: center;
        width: 450px;
        margin: auto;
        background-color: rgba(161, 48, 48, 0.2);
        border: 2px solid $green;
        padding: 30px;
        box-sizing: border-box;
    }

    /* .memNameBox h3{
        padding-left: 50px;
    } */

    .memDataButton{
        font-size: 16px;
        border-radius: 20px;
        color: #b78100;
        border:1px solid #b78100;
        background: #ffd584;
        padding: 5px 20px;
        margin: 10px 30px 0;
    }
    .memDataCancel{
        font-size: 16px;
        border-radius: 20px;
        color: #077e46;
        border:1px solid #077e46;
        background: #53d674;
        padding: 5px 20px;
        
    }


/* 排行榜 */
.leaderBoard{
    color:#333;
    h2{
        text-align: center;
        margin-bottom: 10px;
        color: #FFF;
    }
    p{
        text-align: center;
        margin-bottom: 50px;
        color: #FFF;
    } 
}
.boardTitle{
    width: 90%;
    background-color: #666;
    margin:0 auto;
    max-width: 400px;
    li{
        float: left;
        padding:0 10px;
        line-height: 30px;
        margin-right:5px;
        border-radius: 5px 5px 0 0;
    }
    #rankAll{
        background-color:$green;
    }
    #rankP_1{
        background-color:$yellow;
    }
    #rankP_2{
        background-color: $blue;
    }
    #rankP_3{
        background-color:$red;
    }
}
.boardInner{
    width: calc(90% - 30px);
    background-color: $green;
    margin:0 auto;
    clear:both;
    padding:15px;
    border-radius:0 5px 5px 5px;
    max-width: 370px;
    .innerTitle{
        width: 300px;
        margin:0 auto;
        li{
            float: left;
            margin-bottom: 10px;
        }
        li:nth-child(1){
            margin-left:2px;
            margin-right:15px;
        }
        li:nth-child(2){
            margin-right:35px;
        }
        li:nth-child(3){
            margin-right:30px;
        }
     }
}

#innerPlayer{
    clear:both;
    >li{
        margin:0 auto;
        height: 36px;
        line-height: 36px;
        background-color: rgba(255,255,255,.7);
        margin-bottom:5px;
        border-radius: 5px;
        padding: 0px 10px;
        max-width: 400px;
    }
    li{
        ul{
            width: 280px;
            margin:0 auto;
            li{
                float:left;
                width: 30px;
            }
            li:nth-child(1){
                margin-left:4px;
                margin-right:8px;
            }
            li:nth-child(2){
                margin-right:35px;
            }
            li:nth-child(3){
                margin-right:35px;
            }
            li:nth-child(4):after{
                content:'/';
            }
            li:nth-child(5):after{
                content:'/';
            }
        }
    }
}

   // -------贊助商品區------
 
   .shopContainer{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #333;	
    position: relative;
.shoptitle{
    margin: 30px auto 50px;
    padding: 30px;
    width: 150px;
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/title.png);
     h2{
         color:#fff;
    }	

}  
.boxForProduct{
    max-width: 500px;
    margin: 0 auto;
    height: 600px;
     .col-6{
         padding: 0;    
     }
 }
.productBox{
    margin: 0 auto;
    width: 95%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom;
    position: relative;
}
.model{
    background-color: #90BEE3;
    max-width: 500px;
    margin: 0 auto 50px;
    background-image: url(../img/pinkPlanet.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 10px;
}
.model .pic01{
    padding: 20px;
    margin-top: 50px;
}
.productPic{
    box-sizing:border-box;
    margin: 50px auto 20px;
    background-color: antiquewhite;;
    border-radius: 10px;
    width: 145px;
    height: 145px;
    position: relative;
    img{
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        position: absolute; 
        max-width: 100px;
        text-align: center;
    }
}
.productTitle{
h3{
    font-weight: bold;
    color: #fff;	
}
.productBtn{
    width: 60px;
    margin: 10px auto;
    background-color: #448aca;
    padding: 5px;
    border-radius: 50px;
    h2{
        color: #fff;
    }	
}
} 
}
.toolTitle{
color:#fff;
line-height: 2;
}
.toolTitle02{
display: none;

}
.moreProductBtn{
text-align: center;
margin: 30px auto;
width: 80px;
border-radius: 50px;
padding: 10px;
font-size: 20px;
font-weight: bold;
overflow: hidden;
background-color: #E8B51C;	
h2{ 
    font-weight: bold;
    color: #fff;
}
}
//商品業內頁的扭蛋區
.event{
padding-top: 50px;
background-color: #1c0e44;
}
.gashapon{

text-align: center;;
img{
    width: 300px;
}
}
.clearboth{
clear: both;
}
//商品業內頁的燈箱
#shopLightBox{
color: #FFF;
background-color: #E8B51C;
margin: 0 auto;
border-radius: 10px;
position: absolute;
top: calc(60% - 100px);
right: calc(50% - 100px);
z-index: 1;
width: 200px;
height: 150px;
p{
  margin: 30px auto 30px;
}
span{

    padding: 5px 10px 5px 10px;
    margin: 20px;
    background-color: #a6bfd0;
    border-radius: 5px;
}
}

/*____________________ VOTE ____________________*/
.votePage{
    background: url('../img/vote/page-bg-star.png') no-repeat center center / cover;
    .container{
        width: 100%;
        max-width: 1200px;
        margin: 200px auto 0;
        padding: 1px 15px;
        box-sizing: border-box;
        h1{
            background: url('../img/vote/title-bg.png') no-repeat center center / contain;
            color: #fff;
            text-align: center;
            line-height: 2.8;
        }
        h2{
            background: $green;
            border-radius: 10px 10px 0 0;
            padding: 15px;
            margin: 80px 0 15px;
        }
        .voteEnd{
            margin-bottom: 250px;
            h2{
               margin: 50px 0 15px;
            }
        }
        /*------ 投票卡片 ------*/
        .voteGroup{
            display: flex;
            flex-wrap: wrap;
            margin: -7.5px;
            .voteCard{
                .voteWrapper{
                    background-image: linear-gradient($green 65%,#c0eef1 30%);
                    border-radius: 10px;
                    text-align: center;
                    position: relative;
                    padding: 15px;
                    margin: 7.5px;
                    .voteChart{
                        img{
                            width: 80%;
                            vertical-align: bottom;
                            padding-bottom: 20px;
                        }
                    }
                    .voteText{
                        span{
                            margin-top: 10px;
                            font-size: 15px;
                            display: block;
                        }
                        h3{
                            font-size: 18px;
                            font-weight: 500;
                            margin-top: 10px;
                        }
                        p{
                            font-size: 18px;
                            font-weight: 400;
                            margin-top: 10px;
                        }
                    }
                    /*+++ 按鈕 +++*/
                    button{
                        width: 80px;
                        background: #1d2088;
                        color: #fff;
                        font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 5px 10px;
                        margin: 10px 5px 0;
                        border: none;
                        border-radius: 20px;
                        &[disabled|="disabled"]{
                            background: #ccc;
                            opacity: 0.8;
                        }
                        &#report{
                            width: 40px;
                            background: #fff;
                            color: #333;
                            font-size: 10px;
                            font-weight: 400;
                            padding: 2px 0;
                            margin: 0;
                            border-radius: 5px;
                            box-sizing: border-box;
                            position: absolute;
                            right: 20px;
                            top: 18px;
                        }
                    }
                    &.voteArea{
                        position: relative;
                        .voteAdd{
                            height: 0;
                            transform: perspective(300px) rotateY(0deg);
                            position: absolute;
                            top: 0;
                            left: 0;
                            backface-visibility: hidden;
                            transition: 1s;
                        }
                        .voteForm{
                            padding: 15px;
                            transform: perspective(300px) rotateY(180deg);
                            position: absolute;
                            top: 0;
                            left: 0;
                            backface-visibility: hidden;
                            transition: 1s;
                        }
                        &:hover{
                            .voteAdd{
                                transform: perspective(300px) rotateY(180deg);
                            }
                            .voteForm{
                                transform: perspective(300px) rotateY(360deg);
                            }
                        }
                    }
                }
            }
        }
        
        
    }
    #starShine {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

// 公民小學堂網頁標題
.title{
    width: 40.5vw;
    height: 13vw;
    background: url("../img/slogan-frame.png");
    background-size: cover;
    color:white;
    margin: 5vw auto 0;
    h1{
        font-weight: bold;
        text-align: center;
        line-height: 13vw;
    }
    h2{
        text-align: center;
    }
}
// 目錄與頁籤
.select-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5vw auto;
    button{
        // font-size: 20px;
        // background-color: #1d2088;
        background-color: #1d2088;
        &:hover{
            background-color: lighten(#1d2088 , 10%);
        }
        color: white;
        padding:5px 18px;
        // box-shadow: 0px 0px 20px #fff;
        border-radius: 20px;
        border: 1px solid #fff;
    }
}
// 影片區
.video{
    width: 100%;
    height: 64vw;
    overflow: hidden;
    background: url("../img/video-frame.png");
    background-size: cover;
    text-align: center;//iframe是inline屬性
    vertical-align: middle;
    margin: 5vw auto 0;
    iframe{
        width:85%;
        height: 78%;
        margin: 5vw 0 0 0;
    }
}
// 背景小物
.rabbit{
    width: 10vw;
    position: absolute;
    top:30vw;
    right:20vw;
    z-index:-1;
    img{
        width: 20vw;
    }
}

.fatty{
    width: 10vw;
    position: absolute;
    top:37vw;
    left:5vw;
    z-index:-1;
    img{
        width: 20vw;
    }
}

// 影片區slider
.video-slider{
    width: 100%;
    height: 20vw;
    margin: 2vw auto;
    background-color: #CCC;
    border-radius: 20px;
}
// Question
.question{
    width: 100%;
    margin: 5vw auto;
    background: #dcdcdc;
    border-radius: 30px;
    padding: 5vw;
    box-sizing: border-box;
    h2{
        font-weight: bold;  
    }
    li{
        margin: 2vw 0;
        a{
            color:black;
        }
        a:hover {
        color: #1d2088;
        }
    }
    
    
    p{
        margin: 2vw 0;
        color: red;
    }
    .button-section{
        // width: 25%;
        // display: flex;
        // justify-content: space-around;
        button{
            // font-size: 20px;
            background-color: #1d2088;
            color: white;
            padding:5px 18px;
            box-shadow: 0px 0px 20px #fff;
            border-radius: 20px;
            border: none;
        }
    }
}

// 聊天機器人
.tip-robot{
    display: none;
}
// footer
.footer{
    background: black;
    .footer-wrap {
        max-width:1200px;
        margin:0 auto;
        padding: 1vw;
    }
    .icon{
        text-align: center;
        img{
            width: 2vw; 
        }
    }
    p{
        margin-top:1vw;
        text-align: center;
        color:white;
    }

    
}
//首頁footer
.indexFooter{
    display: none;
}

// }

    



    





